$red: red;
.admin {
  .left {
    padding-right: 50px;
  }
  .right {
    .del-btn {
      // font-size: 16px;
      height: 20px;
      padding: 0 5px;
      color: $red;
      border: 1px solid $red;
      &:hover,
      &:active,
      &:focus {
        border-color: $red;
        color: $red;
      }
      span {
        display: inline;
      }
    }
  }
}
